/packages
/.vs
/src/GroupDocs.Viewer.MVC.csproj.user
bin
obj
/App_Data/temp
src/Resources/*
!src/Resources/.gitkeep
node_modules
src/package-lock.json
/src/client/package-lock.json
/src/node
src/DocumentSamples
!src/DocumentSamples/Viewer/.gitkeep
src/Licenses
!src/Licenses/.gitkeep
/src/node